body {
    background: radial-gradient(circle, #121212, #000);

}

.escape-room {
    text-align: center;
}

.hint {
    font-size: 1rem;
    color: #9c9c9c;
    margin-bottom: 1rem;
    font-style: italic;
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }
}

.code {
    display: none;
    font-size: 3rem;
    font-weight: bold;
    color: #ff5252;
}

@media (prefers-color-scheme: light) {
    body {
        background: linear-gradient(to bottom, #FFFBDA, #D3E9FF);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(to bottom, #323232, #000000);
    }

    .nav,
    a {
        color: #ffffff;
    }
}

@media (prefers-color-scheme: dark) and (max-width: 600px) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    .code {
        display: block;
    }

    .hint {
        display: none;
    }


}